.test {
    text-align: center;
}

.tables {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

img {
    height: 250px;
    width: auto;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}